# emacs backup files
*~
# ?
$RECYCLE.BIN/
# ?
.dropbox.device
# updatedb local db files
.molocate.db*
# ?
System Volume Information/
# Media data.
media/
# Private data.
pridata/
# To delete.
todel/
# To sort.
tosort/
# Web data.
webdata/
